body {
    margin: 0;
    height: 100vh;
    background-image: url(../img/Fake-Home.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}